<% if assignment.status(current_user).name != "Future" %>
  <%= link_to '<i class="fa fa-edit" title="Take Assignment"></i>'.html_safe, assignment_path(assignment) %>
<% else %>
  <i class="fa fa-edit muted" title="Take Assignment"></i>
<% end %>

<% if current_user && current_user.teaching?(assignment.course) %>
  <% if assignment.status(current_user).name == "Future" %>
    <i class="fa fa-legal muted"></i>
    <i class="fa fa-bar-chart-o muted"></i>
  <% else %>
    <% if assignment.students_can_submit %>
      <%= link_to '<i class="fa fa-legal" title="Grade Assignment"></i>'.html_safe, grade_assignment_path(assignment) %>
    <% else %>
      <%= link_to '<i class="fa fa-legal" title="Grade Assignment"></i>'.html_safe, grade_matrix_assignment_path(assignment) %>
    <% end %>
    <%= link_to '<i class="fa fa-bar-chart-o" title="View Grades"></i>'.html_safe, view_grades_assignment_path(assignment) %>
    <%= link_to '<i class="fa fa-calendar" title="Edit Date"></i>'.html_safe, "#dateModal#{assignment.id}", data: {toggle: "modal", target: "#dateModal#{assignment.id}"} %>

    <!-- Modal -->
    <div id="dateModal<%= assignment.id%>" class="modal fade"  tabindex="-1">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Assignment Dates</h4>
      </div>
      <%= form_for assignment do |a| %>
      <div class="modal-body">
        <table class="table">
          <tr>
            <th>
              <%= a.label :active_at, class: "text-center"%>
              <%= a.datetime_select :active_at %>
            </th>
            <th>
              <%= a.label :due_at, class: "text-center" %>
              <%= a.datetime_select :due_at %>
            </th>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= a.submit "Save changes", class: "btn btn-default" %>
      </div>
    </div>
    <% end %>
    <%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-mini" %>
  <% end %>
<% end %>
