<% if assignment.status(current_user).name != "Future" %>
  <%= link_to '<i class="fa fa-edit" title="Take Assignment"></i>'.html_safe, assignment_path(assignment) %>
<% else %>
  <i class="fa fa-edit muted" title="Take Assignment"></i>
<% end %>

<% if current_user && current_user.teaching?(assignment.course) %>
  <% if assignment.status(current_user).name == "Future" %>
    <i class="fa fa-legal muted"></i>
    <i class="fa fa-bar-chart-o muted"></i>
  <% else %>
    <% if assignment.students_can_submit %>
      <%= link_to '<i class="fa fa-legal" title="Grade Assignment"></i>'.html_safe, grade_assignment_path(assignment) %>
    <% else %>
      <%= link_to '<i class="fa fa-legal" title="Grade Assignment"></i>'.html_safe, grade_matrix_assignment_path(assignment) %>
    <% end %>
    <%= link_to '<i class="fa fa-bar-chart-o" title="View Grades"></i>'.html_safe, view_grades_assignment_path(assignment) %>
    <%= link_to '<i class="fa fa-calendar" title="Edit Date"></i>'.html_safe, "#", data: {toggle: "modal", target: "#dateModal"} %>
  <% end %>
  <%= link_to 'Edit', edit_assignment_path(assignment), class: "btn btn-mini" %>



<!-- Modal -->
<div class="modal fade" id="dateModal" tabindex="-1" role="dialog" aria-labelledby="dateModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Assignment Dates</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<% end %>
